@font-face {
  font-family: "ZhuZiAWan";
  src: url("https://cdn.jsdelivr.net/gh/Hongda-OSU/PicGo/image/ZhuZiAWan.ttf");
  font-display: swap;
}

.term-filter {
  margin-right: 30px;
}

.term-filter button {
  background-color: transparent !important;
  border: 3px solid rgba(0, 0, 0, 1) !important;
  border-radius: 5px;
  color: rgba(0, 0, 0, 1) !important;
  font-family: "ZhuZiAWan" !important;

  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 32px;
}

.term-filter li {
  font-family: "ZhuZiAWan" !important;
}

#term-filter-button {
  min-width: 100px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  border-right: transparent !important;
}
