@font-face {
  font-family: "萌神手写体";
  src: url("https://cdn.jsdelivr.net/gh/Hongda-OSU/PicGo/image/Mengshen-Handwritten.ttf");
  font-display: swap;
}

body {
  font-family: "萌神手写体", PingFangSC-Semibold;
}

.app {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
